/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #5fb6ad;
  --primary-color-hover: #4a908a; /* Un color ligeramente más oscuro para el hover */
  --secondary-color: #f39c12;
}

[data-theme='dark'] {
  --bg-color: #2d2d2d;
  --text-color: #ffffff;
  --primary-color: #4a90e2;
  --primary-color-hover: #357ABD;
  --secondary-color: #777269;
  --border-color: rgba(255, 255, 255, 0.1); /* Ajustar el color del borde en modo oscuro */
}

.primary-link {
  color: var(--primary-color);
  text-decoration: none;
}

.primary-link:hover {
  color: var(--primary-color-hover);
  text-decoration: underline;
}

.futuristic-card {
  background: rgba(255, 255, 255, 0.1); /* Fondo transparente */
  border: 1px solid var(--border-color);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; /* Asegura que el contenido no se salga de la tarjeta */
}

.futuristic-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.loader {
  border-top-color: var(--primary-color);
  border-right-color: var(--primary-color);
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}